@charset "utf-8";

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import '../bower_components/font-awesome/scss/font-awesome.scss';

// Base typography styles (tags only)
@import '../bower_components/foundation-sites/scss/typography/base';

// Typography helper classes (classes only)
@import '../bower_components/foundation-sites/scss/typography/helpers';

// Text alignment classes
@import '../bower_components/foundation-sites/scss/typography/alignment';
@import '../bower_components/foundation-sites/scss/typography/print';


@include foundation-typography-base;
@include foundation-typography-helpers;
@include foundation-text-alignment;
//@include foundation-print-styles;

@include foundation-global-styles;
//@include foundation-grid;
@include foundation-flex-grid;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

$sidebar-background-color: $palette-three;
$sidebar-border-color: $palette-four;

h1 {
  color: $primary;
  font-size: 200%
}

h1 small {
  color: $secondary;
}

h2 {
  color: $primary;
  font-size: 160%;
  border-bottom: $palette-five solid 2px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h3 {
  color: $secondary;
  font-size: 140%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h3 small {
  color: $primary;
}

p {
  line-height: 2rem;
}

small {
  font-weight: bold;
}

.profile-image {
  padding: 2rem 2rem 0 2rem;
}

.personal {
  background: #F2F2F2;
  padding-bottom: 1rem;
}

.contact-info li {
  line-height: 2rem;
}

.contact-info i {
  display: inline-block;
  width: 2rem;
  font-size: 1.4rem;
  text-align: center;
}

#interests {
  list-style-type: none;
  margin-left: 0;
  padding-bottom: 1rem;

  li {
    float: left;
    margin-right: 0.5rem;
  }
}

@include breakpoint(medium only) {
  html {
    font-size: 80%;
  }
}

.sidebar {
  h1 {
    font-size: 140%;
  }
  h2 {
    font-size: 120%;
  }
  h3 {
    font-size: 110%;
  }

  background: $sidebar-background-color;

  @include breakpoint(small only) {
    border-bottom: solid 1px $sidebar-border-color;

    h1 {
      font-size: 200%;
    }
  }

  @include breakpoint(medium) {
    border: solid 1px $sidebar-border-color;
    margin-top: 1rem;
  }
}

@media print {
  html {
    font-size: 80%;
  }

  @page {
    margin: 0;
  }

  h1 {
    color: $primary !important;
  }

  p {
    line-height: 1.5rem;
  }

  .sidebar {
    border-left: none;
  }

  #skills .progress-meter-text {
    color: $white;
  }

  .main {
    font-size: 90%;
  }

  a[href]:after {
    content: none !important;
  }
}